html * {
  margin: 0;
  padding: 0; }

body {
  font-family: sans; }

body#work section#levels article.level header {
  font-weight: bold;
  display: block;
  padding: 0.6em;
  background: #444444;
  color: #cccccc;
  cursor: pointer; }
  body#work section#levels article.level header:hover {
    color: white; }
body#work section#levels article.level.active .title {
  background: #cccccc;
  color: #444444;
  padding-top: 1.6em;
  padding-bottom: 1.6em;
  cursor: default; }
body#work section#levels article.level.active:hover {
  color: inherit; }
body#work section#levels article.level section.instructions .changes mark {
  background: yellow; }
