html *
  margin: 0
  padding: 0

body
  font-family: sans

body#work
  section#levels
    article.level
      header
        font-weight: bold
        display: block
        padding: .6em
        background: #444
        color: #ccc
        cursor: pointer
        &:hover
          color: #fff
      &.active
        .title
          background: #ccc
          color: #444
          padding-top: 1.6em
          padding-bottom: 1.6em
          cursor: default
        &:hover
          color: inherit

      section.instructions
        .changes
          mark
            background: #ff0

